In [1]:
# Declare Dependencies
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
csv_df = pd.read_csv('results_exported.csv')
csv_df_edited = csv_df
csv_df_edited.head()

,Unnamed: 0,reservation_no,room_no,total_nights,total_rate,avg_daily_rate,room_type,rate_type,booking_date,reservation_date,reservation_weekday,reservation_date_short
0,0,1,210,3,258.02,86.006667,Double,Best Available Rate,2016-06-28,2016-07-21,Thursday,"21, July"
1,1,1,210,3,258.02,86.006667,Double,Best Available Rate,2016-06-28,2016-07-22,Friday,"22, July"
2,2,1,210,3,258.02,86.006667,Double,Best Available Rate,2016-06-28,2016-07-23,Saturday,"23, July"
3,3,13,108,3,223.50,74.500000,Double,Best Available Rate,2016-06-28,2016-07-14,Thursday,"14, July"
4,4,13,108,3,223.50,74.500000,Double,Best Available Rate,2016-06-28,2016-07-15,Friday,"15, July"

In [ ]:
#create output dataframe
results = []

for index, row in csv_df_edited.iterrows():
    for x in range(row['Nights']):
        reservation_no = row['Reservation_No']
        room_no = row['Room']
        total_nights = row['Nights']
        total_rate = row['TotalRate']
        avg_daily_rate  = total_rate/total_nights
        room_type = row['Room Type']
        rate_type = row['Rate_Type']
        booking_date = row['booking_date']
        reservation_date = row['reservation_date']+datetime.timedelta(days=x)
        reservation_weekday = reservation_date.strftime("%A")
        reservation_date_short = reservation_date.strftime("%d, %B")
        tester = {'reservation_no':reservation_no, 'room_no': room_no, 'total_nights': total_nights,'total_rate': total_rate, 'avg_daily_rate': avg_daily_rate, 'room_type': room_type, 'rate_type':rate_type, 'booking_date':booking_date, 'reservation_date':reservation_date, 'reservation_weekday':reservation_weekday,'reservation_date_short':reservation_date_short}
        results.append(tester)
        
results_df = pd.DataFrame(results)
results_df.head()

In [ ]:
results_df.to_csv('results_exported.csv')

In [ ]:
 # Assign the data to X and y
# Note: Sklearn requires a two-dimensional array of values
# so we use reshape to create this

X = results_df["total_nights"].values.reshape(-1, 1)
y = results_df["avg_daily_rate"].values.reshape(-1, 1)

print("Shape: ", X.shape, y.shape)

In [ ]:
# Plot the data to see if a linear trend exists

### BEGIN SOLUTION
plt.scatter(X, y)
plt.xlabel("counts")
plt.ylabel("Rate")
### END SOLUTION

In [ ]:
results1_df = results_df.drop(columns=['reservation_no', 'room_no', 'total_rate', 'rate_type', 'booking_date', 'reservation_date', 'reservation_weekday', 'reservation_date_short'])
results1_df

In [ ]:
# Drop a row by condition
results2_df = results1_df[results1_df.room_type != 'King']
results3_df = results2_df[results2_df.room_type != 'Upscale Jacuzzi King']
results4_df = results3_df[results3_df.room_type != 'Rubideaux Condo']
results5_df = results4_df[results4_df.room_type != 'Sweetheart King']
results6_df = results5_df[results5_df.room_type != 'Upscale King']
results7_df = results6_df[results6_df.room_type != 'Premier King']
df = results7_df.drop(columns=['room_type'])
df.head()

In [ ]:
#Calculate meanvalues of duplicate entries of total_nights
df1 = df.groupby('total_nights').mean().reset_index()
df1.head()

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn import linear_model
model = LinearRegression()

In [ ]:
X1 = df1.drop('avg_daily_rate', axis='columns')
X1

In [ ]:
y1 = df1.avg_daily_rate
y1

In [ ]:
model.fit(X1,y1)

In [ ]:
model.predict([[10]])

In [ ]:
model.score(X1,y1)

# Quantifying Linear Regression

In [ ]:
# Import dependencies
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression

# Generate some data
X1, y1 = make_regression(n_samples=20, n_features=1, random_state=0, noise=4, bias=100.0)

# Create a linear model
model = LinearRegression()

# Fit (Train) our model to the data
model.fit(X1, y1)

# Quantifying our Model
*Mean Squared Error (MSE)
*R2 Socre

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score

# Use our model to predict a value
predicted = model.predict(X1)

# Score the prediction with mse and r2
mse = mean_squared_error(y1, predicted)
r2 = r2_score(y1, predicted)

print(f"Mean Squared Error (MSE): {mse}")
print(f"R-squared (R2 ): {r2}")

In [ ]:
# Overall Score for the model
model.score(X1, y1)

# Validation
We also want to understand how well our model performs on new data.
One approach for this is to split your data into a training and testing dataset.
You fit (train) the model using training data, and score and validate your model using the testing data.
This train/test splitting is so common that Sklearn provides a mechanism for doing this.

# Testing and Training Data
In order to quantify our model against new input values, we often split the data into training and testing data. The model is then fit to the training data and scored by the test data. Sklean pre-processing provides a library for automatically splitting up the data into training and testing

In [ ]:
from sklearn.model_selection import train_test_split

X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, random_state=42)

In [ ]:
model.fit(X1_train, y1_train)

In [ ]:
model.score(X1_test, y1_test)